version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - RESEND_API_KEY=${RESEND_API_KEY}
    image: saragea-app
    container_name: saragea-app-running
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    secrets:
      - dotenv

secrets:
  dotenv:
    file: .env