services:
  # 1. PostgreSQL Database
  db:
    image: postgres:15
    container_name: saragea_db
    restart: always
    environment:
      # Matches your .env: postgresql://saragea:jomjoam12@...
      POSTGRES_USER: sarageaaaa
      POSTGRES_PASSWORD: jomjoam12
      POSTGRES_DB: saragea
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      # Maps host port 5434 to container port 5432 (Matches your local connection string preference)
      - "5432:5432"

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"



volumes:
  postgres_data:
